apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  labels:
    app: web
spec:
  replicas: 5
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: dgarridouma/get-started:part2
        env:
        - name: REDIS_HOST
          value: redis
        ports:
        - containerPort: 80
